.CharacterPage {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 50px;
}
.CharacterPage .imageBlock {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.CharacterPage .imageBlock p {
  font-family: 'rick&morty_font', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  color: #009925;
}

.CharacterPage .infoBlock {
  width: 40%;
  padding: 100px 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.CharacterPage .infoBlock div {
  display: flex;
  margin-bottom: 10px;
}
.CharacterPage .infoBlock div span {
  font-size: 20px;
  width: 50%;
}
.CharacterPage .infoBlock a {
  color: #009925;
  text-decoration: none;
}
.CharacterPage .infoBlock a:hover {
  text-decoration: underline;
}
.CharacterPage .infoBlock div span {
  font-style: italic;
}
.CharacterPage .infoBlock div span:last-child,
.CharacterPage .infoBlock a {
  font-weight: bold;
  font-style: normal;
}
@media (max-width: 990px) {
  .CharacterPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .CharacterPage .imageBlock {
    width: 100%;
    margin-bottom: 30px;
  }
  .CharacterPage .infoBlock {
    width: 100%;
    padding: 100px 0px;
    text-align: center;
  }
  .CharacterPage .infoBlock a {
    text-decoration: underline;
  }
  .CharacterPage .infoBlock > div > span:first-child {
    text-align: left;
  }
}
