.EpisodesList {
  padding: 50px 20px;
}
.EpisodesList h1 {
  font-family: 'rick&morty_font', sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  color: #009925;
}
ul {
  list-style: none;
}
.EpisodesList li {
  display: inline-block;
  width: calc(50% - 40px);
  margin: 20px 20px;
  background-color: #303030;
  /* border: 2px solid black; */
  border-radius: 10px;
}
