.Header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav_block {
  display: block;
}
.logo_link {
  font-family: 'rick&morty_font', sans-serif;
  font-size: 40px;
  color: white;
  margin: 0;
  text-decoration: none;
  transition: 0.8s;
}
.logo_link:hover {
  color: #009925;
}
