.Header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_block {
  display: block;
}
.title_block p {
  font-weight: 500;
  font-size: 40px;
}
