.Nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.8s;
  font-family: sans-serif;
}
.Nav a:hover {
  color: #009925;
  cursor: pointer;
}

.Nav a:not(:last-child) {
  margin-right: 20px;
}
