.Paginator {
  padding: 10px 20px 50px;
  position: relative;
}

.Paginator button {
  color: black;
  padding: 5px 15px;
  background-color: black;
  color: white;
  font-size: 13px;
  border: none;
  border-radius: 15px;
  position: absolute;
}
.Paginator button:active,
button:focus {
  outline: none;
}

.Paginator .prevBtn {
  left: 30%;
}
.Paginator .nextBtn {
  right: 30%;
}

.Paginator span {
  display: flex;
  justify-content: center;
  font-family: 'rick&morty_font', sans-serif;
  font-size: 25px;
  color: #009925;
}
